*.pdf
*.log
*.gz
*.blg
*.bbl
*.aux
*.dvi
*.out
.tex~
.toc
analisi_formicobox-concordance.tex
analisi_formicobox.tex
prova_sweave.tex
prova_temp.tex~
prova_temp.toc
tesi_2.2_utf.tex
.Rhistory
prova_sweave-concordance.tex
natbib_ita.bst
analisi_formicobox.html
